@import "../../../node_modules/bootstrap/scss/bootstrap";

.chatContainer {
    padding: 10px;
}

.message {
    padding: 8px;
    margin: 2px;
    border-radius: 10px;
}

.question {
    @extend .float-end;
    background-color: #ced1d6;
}

.answer {
    @extend .float-start;
    background-color: #bccbe3;
}