<div class="container chatContainer">
    <div class="row" *ngFor="let message of messageArray">
        <div class="col">
            <div class="text-wrap text-break message {{message.style}}">
                {{message.message}}
            </div>
            <div class="text-wrap text-break" *ngFor="let suggestion of message.suggestions">
                <div class="text-wrap text-break message suggestion" (click)="onAskSuggestion(suggestion)">
                        {{suggestion}}
                </div>
            </div>
        </div>
    </div>
</div>

