<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/sign.css">
        <script>



CreateTableFromJSON();


function bsAlert(message){

inhtml =    "<div class=\"alert alert-info\" role=\"alert\">"+message+"</div>"


document.getElementById('alert').innerHTML = inhtml;

}
            function sendRequest(jso,url,pergunta_id){

          let xhr = new XMLHttpRequest();
          xhr = new XMLHttpRequest();
          xhr.open("POST", url, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(jso);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 201) {
                myObj = JSON.parse(this.responseText);
                pergunta_id = myObj.data["id"];
        if(url == "/pergunta"){

          jso = JSON.stringify({
            "resposta": resposta.value,
            "sugestoes": sugestoes,
            "pergunta_id": pergunta_id
          });

          url = "/resposta";

          sendRequest(jso,url,pergunta_id)
        }else{

            bsAlert("Cadastrado com sucesso!");
            CreateTableFromJSON();
        }
          
            }
          };


            }


            function enviaInteracao() {
                pergunta = document.querySelector('#pergunta');
                resposta = document.querySelector('#resposta');
                sugestoes = document.querySelector('#sugestoes');
                sugestoes = sugestoes.value.split(",");

                var jso = JSON.stringify({
            "pergunta": pergunta.value
          });

          let url = "/pergunta";

          sendRequest(jso,url,0)

            }

            function pegarSugestoes(id){
          let xhr = new XMLHttpRequest();
          let url = "/resposta/"+id;
          xhr.open("GET", url, true);
          xhr.send();
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 201) {
              myObj = JSON.parse(this.responseText);
              var sugestoes = "";
              for (var prop in myObj.sugestoes) {
            sugestoes = myObj.sugestoes[prop]+","+sugestoes;
            
          }


            elementosug = document.querySelector('#sugestoes');
            elementosug.value = sugestoes.replace(/,\s*$/, "");
            hiddenEdit = document.querySelector('#hiddenEdit');
            hiddenEdit.innerHTML = "<button onclick=\"updateAll('"+id+"','"+myObj.id+"')\" type=\"submit\" class=\"btn btn-warning\" value = \"Submit\">Atualizar pergunta de ID "+id+"</button>"

            }
            
          };

            }


            function updatePergunta(jso){
                let url = '/pergunta';
                let xhr = new XMLHttpRequest();
                xhr = new XMLHttpRequest();
                xhr.open("PUT", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(jso);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                myObj = JSON.parse(this.responseText);
                bsAlert(myObj.message)

                }
                };

            }


            function updateResposta(jso){                      
                let url = '/resposta';
                let xhr = new XMLHttpRequest();
                xhr = new XMLHttpRequest();
                xhr.open("PUT", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(jso);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                myObj = JSON.parse(this.responseText);
                bsAlert(myObj.msg)
                CreateTableFromJSON();

                }
                };


                }


            function updateAll(id1,id2){

                pergunta = document.querySelector('#pergunta');
                resposta = document.querySelector('#resposta');
                sugestoes = document.querySelector('#sugestoes');
                sugestoes = sugestoes.value.split(",");

                var jso = JSON.stringify({
                    "id": id1,
            "pergunta": pergunta.value
          });


          updatePergunta(jso)

           jso = JSON.stringify({
                    "id": id2,
                "resposta": resposta.value,
            "pergunta_id": id1,
            "sugestoes": sugestoes,

          });
          updateResposta(jso)


            }




            function deletePergunta(jso){
                let url = '/pergunta';
                let xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(jso);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                myObj = JSON.parse(this.responseText);
                bsAlert(myObj.message)

                }
                };

            }

            function deleteResposta(jso){                      
                let url = '/resposta';
                let xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(jso);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                myObj = JSON.parse(this.responseText);
                bsAlert(myObj.msg)
                CreateTableFromJSON();

                }
                };


                }


            function deleteAll(id){


                let jso = JSON.stringify({
                    "idp": id
          });



          deletePergunta(jso)

          deleteResposta(jso)



            }



            function editarInteracao(a,b,c) {
                pergunta = document.querySelector('#pergunta');
                pergunta.value  = b
                resposta = document.querySelector('#resposta');
                resposta.value  = c
                pegarSugestoes(a);


            }


            function CreateTableFromJSON() {

                let url = '/tabela';
                let xhr = new XMLHttpRequest();
                xhr = new XMLHttpRequest();
                xhr.open("GET", url, true);
                xhr.send();
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                myObj = JSON.parse(this.responseText);


        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = [];
        for (var i = 0; i < myObj.length; i++) {
            for (var key in myObj[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        col.push("Editar");
        col.push("Excluir");

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");
        table.className = "table table-bordered"

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myObj.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                if(j == 1){
                    let text = myObj[i][col[j]].toString();
                    text = text.replaceAll("(?:(.+))?","[*]");
                    tabCell.innerHTML = text;
                }else
                if(j == 4){
                    var a = myObj[i][col[0]];
                    var b = myObj[i][col[1]].replaceAll("(?:(.+))?","[*]");
                    var c = myObj[i][col[2]];
                    tabCell.innerHTML = "<button onclick=\"editarInteracao('"+a+"','"+b+"','"+c+"')\" type=\"submit\" class=\"btn btn-warning\" value = \"Submit\">Editar</button>"
                }else
                if(j == 5){
                    tabCell.innerHTML = "<button onclick=\"deleteAll("+a+")\" type=\"submit\" class=\"btn btn-danger\" value = \"Submit\">Excluir</button>"
                }else
                tabCell.innerHTML = myObj[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
                }
                };






    }





        </script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Cadastro de interação.</p>
                </div>

            
                
                <div class="form-content">

                    <div class="alert alert-secondary" role="alert">
                        Este sistema utiliza sintaxe similar ao popular script de chatbots Rivescript.
                        <br>
                        <br>
                        • Para capturar palavras chave em qualquer lugar no corpo do texto, utilize "[*]" (colchetes e asteriscos) antes e depois de cada palavras
                        <br>
                        • Para inserir mais de uma alternativa, utilize "|".
                        <br>
                        • Astericos simples também são suportados, mas o seu uso implica que algo deve vir antes no texto.
                        <br>
                        • Evite o uso de espaços. O identificador de expressões regulares (regex) é sensível a eles. 
                      </div>
                    <div id="alert" name="alert"></div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="pergunta" name = pergunta class="form-control" placeholder="Pergunta *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="resposta" class="form-control" name = resposta placeholder="Resposta *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="sugestoes" class="form-control" name = sugestoes placeholder="Sugestoes *" value=""/>
                            </div>
                        </div>
                    </div>
                    <button onclick="enviaInteracao()" type="submit" class="btn btn-success" value = "Submit">Enviar</button><div id="hiddenEdit"></div>
                </div>
                <p id="showData"></p>
            </div>
        </div>












    </body>
</html>                    