<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sign.css">
  </head>
  <body>
    {% include 'navbar.html' %}


    <div class="container register-form">
      <div class="form">
          <div class="note">
              <p style="font-size: 5rem;">ICBot</p>
          </div>


          
          <div class="form-content">
              
              <div id="botchatbox">
                <p class="botText"><span>Seja bem-vindo(a)! Como eu posso te ajudar?</span></p>
                <input id="questionButton" class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Sobre o IC"><br>
                <input id="questionButton" class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Docentes"><br>
                <input id="questionButton" class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Discentes"><br>
                <input id="questionButton" class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Disciplinas de graduação do DCC">
              </div>
              <div id="userInput">
                <input type="text" id="textInput" name = "msg" size = 25 class="form-control" placeholder="Mensagem" value=""/>
                <input id="buttonInput" class="btnSubmit" type="submit" value="Enviar">
              </div>

          </div>
      </div>
  </div>




      
      <script>
        function getBotResponse(text) {
          var rawText = "";
          if (text === undefined) {
             rawText = $("#textInput").val();
         }else{
           rawText = text;
         } 
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $("#botchatbox").append(userHtml);
            $("#textInput").val("");
          var jso = JSON.stringify({
            "entrada": rawText
          });
          let xhr = new XMLHttpRequest();
          let url = "/entrada";
          xhr.open("POST", url, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(jso);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              myObj = JSON.parse(this.responseText);
              var sugestoes = "";
              for (var prop in myObj.sugestoes) {
                if(myObj.sugestoes[prop]!="")
            sugestoes = "<input id=\"questionButton\" class=\"btn btn-outline-info my-2 my-sm-0\" type=\"submit\" value=\""+myObj.sugestoes[prop]+"\">"+"<br>"+sugestoes;
          }
            var botHtml = '<p class="botText"><span>' + myObj.resposta + '</span></p>'+sugestoes;
            $("#botchatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});

            }
          };

        }

  
        document.addEventListener('click',function(e){
        if(e.target && e.target.id== 'questionButton'){
          if (e.target.value != "") {
                getBotResponse(e.target.value);
            }
        }
    });
        
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
  
      </script>
    </div>
  </body>
</html>