<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Chatbot UFBA</h1>
    <h3>Instituto de Computação</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Olá! Quais são as suas dúvidas?</span></p>
        <input id="questionButton" type="submit" value="Conte-me sobre o curso de cc">
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Mensagem">
        <input id="buttonInput" type="submit" value="Enviar">
      </div>
      <script>
        function getBotResponse(text) {
          var rawText = "";
          if (text === undefined) {
             rawText = $("#textInput").val();
         }else{
           rawText = text;
         } 
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $("#chatbox").append(userHtml);
            $("#textInput").val("");
          var jso = JSON.stringify({
            "entrada": rawText
          });
          console.log(jso);
          let xhr = new XMLHttpRequest();
          let url = "/entrada";
          xhr.open("POST", url, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(jso);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              myObj = JSON.parse(this.responseText);
              var sugestoes = "";
              for (var prop in myObj.sugestoes) {
            sugestoes = "<input id=\"questionButton\" type=\"submit\" value=\""+myObj.sugestoes[prop]+"\">"+"<br>"+sugestoes;
          }
            var botHtml = '<p class="botText"><span>' + myObj.resposta + '</span></p>'+sugestoes;
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});

            }
          };

        }

  
        document.addEventListener('click',function(e){
        if(e.target && e.target.id== 'questionButton'){
          if (e.target.value != "") {
                getBotResponse(e.target.value);
            }
        }
    });
        
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
  
      </script>
    </div>
  </body>
</html>