<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/sign.css">
        <script>
          
          //else{
             //   xhr.setRequestHeader("Content-Type", "application/json");
             //   var jso = JSON.stringify({
           // "token": token
          //});
          //console.log("enviado2")
             //   xhr.send(jso);
            //}

     
                function saveToken(token){

                    let xhr = new XMLHttpRequest();
          xhr = new XMLHttpRequest();
          let url = "/savetoken"
          xhr.open("POST", url, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          jso = JSON.stringify({
            "token": token
          });
          xhr.send(jso);

          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                myObj = JSON.parse(this.responseText);
                window.location.replace("/");
            }
        };
  



                }


function bsAlert(message){

 inhtml =    "<div class=\"alert alert-info\" role=\"alert\">"+message+"</div>"


 document.getElementById('alert').innerHTML = inhtml;

}



                function sendRequest(){

                    login = document.querySelector('#login').value;
                    password = document.querySelector('#password').value;
                let url = '/login';
                let xhr = new XMLHttpRequest();
                xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader ("Authorization", "Basic " + btoa(login + ":" + password));
                xhr.send();
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                myObj = JSON.parse(this.responseText);
                bsAlert(myObj.message)
               if(xhr.status === 200)
               saveToken(myObj.token);
                }
                };


                }
   




        </script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Login de administrador.</p>
                </div>


                
                <div class="form-content">
                    <div id="alert" name="alert"></div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="login" name = login size = 25 class="form-control" placeholder="login *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type = password id="password" name = password size = 25 class="form-control" placeholder="Digite a senha: * " value="">
                            </div>
                        </div>
                    </div>
                    <button onclick="sendRequest()" type="submit" class="btnSubmit" value = "Submit">Enviar</button>
                </div>
            </div>
        </div>












    </body>
</html>                    